* {
  box-sizing: border-box;
}

.redondeado {
   border-radius:125rem;
   align-items: center; 
   outline: none;
 }

 .confondo {
   background-color: #def;
 }

 #input-search{
 	display: block;
 	position: absolute;
 	left: 35%;
 	top: 7%; 
 	font-size: 100%;
  /*padding-left: 15px;*/
  border: 0;
  width:30%;
  height: 4%;
  outline: none;
  padding: 1.15%; 	
 }

 #fromu{
  border:0;
 }

 #input-search::-webkit-input-placeholder {										
    /* Google Chrome y Safari */
    font-size:17px;
   padding-left: 10px;
}

/*BUSCADOR */

.box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}   
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-1 input#input-search{
  width: 30%;
  height: 4%;
  background: #FFF;
  border: none;
  font-size: 17px;
  float: left;
  color: #6D6A6A;
  padding-left: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 100;
}

.container-1 input#input-search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#input-search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#input-search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#input-search:-ms-input-placeholder {  
   color: #65737e;  
}   

.container-1 .icon{
  position: absolute;
  top: 4.8%;
  left: 34%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 101;
  color: #4f5b66;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.container-1 .icon:active{
 outline: none;
 border: none;
}

.container-1 .icon:focus{
 outline: none;
 border: none;
}





*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
    font-size:20px;
}

@media screen and (max-width: 950px) {
	#input-search{
		font-size: 25px;
		left:100px;
		top:17%;
	}
}

@media screen and (min-width: 1366px){
  .container-1 .icon{
  position: absolute;
  top: 5.1%;
  left: 34.4%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 101;
  color: #4f5b66;
  cursor: pointer;
  background: transparent;
  border: 0;
}
}

