*{
	margin: 0;
	padding: 0;
	box-sizing:border-box; 	
}

.contenedor-menu{
	width: 20%;
	min-width: 300px;
	display: inline-block;
}

.menu{
	list-style: none;
	background: red;
}

.contenedor-menu .menu .li .a{
	background: red;
}